.bar {
	width: 40px;
	text-align: center;
}

.song {
	background-color: lightgreen;	
}

.playing {
	background-color: pink;		
}

#game {
	text-align: center;	
}

#game table{
	margin: 0 auto;
}

button:disabled {
	color: gray;
}