.bar {
	width: 55px;
	text-align: center;
	border-radius: 0px;
}

.song {
	background-color: #2c3e50;
	color: #ffffff;
}

.playing {
	background-color: #18bc9c;
}

#game {
	text-align: center;
}

#game table{
	margin: 0 auto;
}

button:disabled {
	color: gray;
}

#demo {
	border: 1px solid black;
}

.bar0.barrow0 {
	border-top-left-radius: 4px;
}

.bar0.barrow10 {
	border-bottom-left-radius: 4px;
}

.bar15.barrow0 {
	border-top-right-radius: 4px;
}

.bar15.barrow10 {
	border-bottom-right-radius: 4px;
}

.btn.btn-default:disabled {
	color: #ffffff;
}
